<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OcrEndPoint" value="<Your OCR EndPoint>" />
    <add key="OcrApiKey" value="<Your OCR API Key>" />
    <add key="TranslateEndPoint" value="<Your Translation EndPoint>" />
    <add key="TranslateApiKey" value="<Your Translation API Key>" />
  </appSettings>
</configuration>